.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  position: relative;
  /*Абсолютное позиционирование работает относительно своего родителя в том случае, если у родителя позиционирование relative или fixed. (принято родителю присваивать позиционирование relative, а чайлду присваиваем позиционииование absolute) */
  display: flex;
  /*Определил флекс-контейнер,
  задал выравнивание элемента от начала главной оси.
  По умолчанию главная ось расположена слева-направо,
  поэтому flex-direction я не задаю*/
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  margin: 0 auto;
  padding: 0;
  /*Сбросил отступы*/
  overflow: hidden;
  /* Задал свойство overflow: hidden чтобы элементы выходящие за границу родительского контейнера образались*/
  background: #f2f2f2;
  /* Задал цвет фона */
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  /*Добавил абсолютное позиционирование и координаты блока*/
  height: 32px;
  width: 183px;
  /*задал высоты и ширину блока*/
}

.header__title {
  position: relative;
  left: 64px;
  /*Задаю позиционирование относительно контейнера "header"
  смещаю блок вправо на 64px*/
  align-self: center;
  /*Размещаю блок по центру высоты родительского контейнера*/
  z-index: 1;
  /*Размещаю текст выше иллюстрации, чтобы картинка не перекрывала его*/
  width: 730px;
  margin: 0;
  /*Задал ширину блока, сбросил внешние отступы*/
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  color: #000;
  /*Заданы параметры текста: интерлиньяж, высота, начертание и цвет*/
}

.header__subtitle {
  position: absolute;
  left: 64px;
  bottom: 30px;
  /*Задано абсолютное позиционирование и координаты расположегния блока*/
  z-index: 1;
  /*Размещаю текст выше иллюстрации, чтобы картинка не перекрывала его*/
  width: 388px;
  margin: 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  color: #000;
  /*Параметры подзаголовка страницы.
  Задана ширина блока, убраны внешние отступы,
  заданы параметры текста: интерлиньяж, высота, начертание и цвет
  */
}

.header__link {
  text-decoration: none;
  color:#2f80ed
  /*Параметры ссылки в шапке страницы.
  Снято подчеркивание и задан цвет
  */
}

.header__square-pic {
  position: absolute;
  right: 0;
  top: 64px;
  /*Задаем абсолютное позиционирование и координаты расположения блока*/
  height: 568px;
  width: 568px;
  background: #2f80ed;
  /*Вводим "квадрат",
  задаем цвет*/
}

.header__main-illustration {
  position: absolute;
  right: 0;
  bottom: 0;
  /* Задаем абсолютное позиционирование и размещаем изображение
  в правом нижнем углу блока "header" */
  width: 765px;
  height: 608px;
  /* Задаем размеры иллюстрации "Опять двойка" */
}

.description {
  display: flex;
  justify-content: center;
  padding-top: 100px;
/* Задаю внутренний отступ сверху бля блока с описанием главных проблем в обучении,
назначаю флекс-контейнер и выравниваю контент по центру  */
}

.two-columns {
  display: flex;
  justify-content: space-between;
  width: 80%;
  /*Назначаю флекс-контейнер с блоками контента,
  задаю одинаковое расстояние между блоками контента*/
}

.two-columns__brief {
  width: 175px;
  margin: 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
  /*Задаю ширину блок-контета с заголовком,
  назначаю параметры текста: интерлиньяж, размер шрифта, начертание и цвет,
  сбрасываю внешние отступы*/
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
  /*Задаю ширину блока с основным контентом. В задании указано min-width 784px.*/
  margin: 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  /*Назначаю параметры текста: интерлиньяж, размер шрифта, начертание, сбрасываю отступы*/
}

.two-columns__paragraph {
  margin: 0;
  /*Сбрасываю внешние отступы у абзацев*/
}

.two-columns__paragraph:nth-child(2) {
  margin: 30px 0;
  /*Задаю верхний и нижний внешние отступы у 2го абзаца*/
}

.two-columns__span-accent {
  font-weight: bold;
  /*Задаю начертание слову "Вывод:"*/
}

.digits {
  padding-top: 100px;
  padding-bottom: 100px;
/* Задаю внутренние отступы сверху и снизу бля блока с фифрами и фактами */
}

.section-title {
  width: 60%;
  margin: 0 auto;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  /*Задаю ширину контейнера с заголовком и параметры текста: интерлиньяж, размер, начертание.
  Сбрасываю верхние и нижние отступы, выравниваю контейнер по центру окна просмотра,
  выравниваю текст по центру контейнера*/
}

.section-subtitle {
  width: 60%;
  margin: 0 auto;
  margin-top: 20px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  /*Задаю ширину контейнера с подзаголовком и параметры текста: интерлиньяж, размер, начертание.
  Сбрасываю верхние и нижние отступы, выравниваю контейнер по центру окна просмотра,
  задаю верхний наружный отступ, выравниваю текст по центру контейнера*/
}

.table {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 1100px;
  margin: 0 auto;
  padding: 0;
  /*Задаю ширину флекс-бокса, внутренные блоки размещаю с равным расстоянием между ними, задаю автоперенос блоков,
  сбрасываю верхний и нижний наружные отступы, выравнимаю флекс-бокс по центру окна просмотра, сбрасываю внутренние отступы*/
}

.table__cell {
  width: 250px;
  margin-top: 60px;
  list-style: none;
  /*Задаю ширину ячейки и верхний отступ, удаляю макреры списка*/
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  /*Задал параметры текста для заголовков ячеек*/
}
.table__text {
  margin: 0;
  margin-top: 20px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  /*Сбрасываю наружные отступы, задаю верхний наружный отступ,
  задаю параметры текста: интерлиньяж, размер и начертание*/
}

.feynman {
  position: relative;
  overflow: hidden;
  /*Задано относительное позиционирование, задано что, все внутренние элементы выходящие за границу контенера будут образаны*/
  height: 890px;
  /*Задаю высоту блока*/
  background-image: url('../images/feynman.png');
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 867px 637px;
  /*Размещаю фото Фейчмана через CSS, если изображение используется только для дизайна, не имея сысловой нагрузки, то лучше для размешения использовать CSS, alt в таком случае не используется*/
  background-color: #f2f2f2;
  /*Задан цыет фона*/
}

.feynman__title {
  width: 648px;
  margin: 0 auto;
  padding-top: 100px;
  /*Задана ширина, сброшены наружные отступы, блок размещен по центру страницы, задан внутренний верхний отступ */
  text-align: center;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  /*Указано выравнивание текста по центру, задан интерлиньяж, размер текста и начертание*/
}

.feynman__subtitle {
  margin: 0;
  margin-top: 70px;
  /*Сброшены внешние отступы, переопределен верхний наружный отступ*/
  text-align: center;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  /*Задано расположение текста по центру, указан интерлиньяж, размер шрифта и начертание*/
}

.feynman__link {
  position: absolute;
  right: 48px;
  top: 50%;
  /*Указано абсолютнеое позиционирование блока и координаты расположения*/
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-decoration: none;
  color: #2f80ed;
  /*Указан ннтерлиньяж, задан размер текста и начертание. Сброшены стили для ссылок и задан цвет*/
}

.kaufman {
  position: relative;
  overflow: hidden;
  /*Указано относительное позиционирование, указано что, все элементы расположение внутри блока и выходящие за его границы будут обрезаться*/
  padding: 90px 0;
  /*Заданы внутренние оступы*/
  background-color: #1f1f1f;
  /*Задан цвет фона*/
}

.section-title_theme_dark {
  z-index: 1;
  /*Блок размещен выше геометрических элементов, чтобы не перекрывался ими*/
  width: 60%;
  /*Задана ширина блока*/
  margin: 0 auto;
  /*Сброшены наружные отступы, блока размещен по центру экрана просмотра*/
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  color: #f2f2f2;
  /*Заданы интерлиньяж, размер текста, начертание, выравнивание по центру и цвет*/
}

.section-subtitle_theme_dark {
  z-index: 1;
  /*Блок размещен выше геометрических элементов, чтобы не перекрывался ими*/
  width: 60%;
  /*Указана ширина блока*/
  margin: 0 auto;
  margin-top: 20px;
  /*Сброшены внешние отступы, блока размешен по центру экрана просмотра, переопределен верхний внешний отступ*/
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  color: #f2f2f2;
  /*Заданы интерлиньяж, размер текста, начертание, выравниване текста по центру, цвет*/
}

.table__cell_theme_dark {
  z-index: 1;
  /*Блок размещен выше геометрических элементов, чтобы не перекрывался ими*/
  width: 200px;
  /*Задана ширина блока*/
  margin: 0;
  margin-top: 80px;
  /*Сброшены внешние отступы, переопределен верхний внешний отступ*/
  list-style: none;
  /*Удалены стили списка*/
  color: #f2f2f2;
  /*задан цвет текста*/
}

.table__heading_theme_dark {
  z-index: 1;
  margin: 0;
  /*Сброшены внешние отступы, блок размещен выше геометрических элементов, чтобы не перекрывался ими*/
}

.table__text_theme_dark {
  z-index: 1;
  /*Сброшены внешние отступы, блок размещен выше геометрических элементов, чтобы не перекрывался ими,
  остальные стили заданы в селекторе .table__text*/
}

.kaufman__triangle {
  position: absolute;
  right: -210px;
  top: 0;
  /*Задаем абсолютное позиционирование и координаты размещения блока*/
  width: 877px;
  height: 877px;
  /*Заданы размеры блока*/
  background-image: url('../images/kaufman-triangle.svg');
  background-size: 100%;
  /*Устанавливаем изображегние зщадаем размер*/
}

.footer {
  display: flex;
  justify-content: center;
  /*Делаем блок флексом, внутренние блоки размещаем по центру*/
  min-height: 350px;
  padding-top: 60px;
  padding-bottom: 40px;
  /*Указываем минимальную высоту блока, задаем верхний и нижний внутренние отступы*/
  background-color: #1f1f1f;
  /*Задаем цвет фона*/
}

.footer__columns {
  display: flex;
  justify-content: space-between;
  width: 90%;
  /*Задаем ширину блока, делаем его флексом и размещаем внутренние блоки с одинаковыми отступами друг от друга*/
}

.footer__column_content_copyright {
  display: flex;
  flex-basis: 711px;
  flex-direction: column;
  justify-content: space-between;
  /*Делаем блок флексом, задаем ширину флекс-бокса 711px,
  ориентируем главную ось сверху вниз и располагаем внутренние элементы и одинакоыс расстоянием между ними*/
}

.logo_place_footer {
  width: 183px;
  height: 35px;
  /*Задаем размеры логотипа, в хедере они другие*/
}

.footer__autor {
  margin: 0;
  padding: 18px 0;
  /*Сбрасываем внешние отстуры, задаю верхний и нижний внутренние отступы*/
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  color: #f2f2f2;
  /*Задаю интерлиньяж, размер шрифта, начертание и цвет*/
}

.footer__column-heading {
  margin: 0;
  /*Сбрасываю внешние отступы*/
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  color: #f2f2f2;
  /*Задаю интерлиньяж, размер шрифта, начертание и цвет*/
}

.footer__column-links {
 padding: 0;
 margin-top: 20px;
 margin-bottom: 16px;
 list-style: none;
 /*Сбрасываю внуренние отступы, задаю внешний верхний и нижний отступы,
 удаляю стили списка*/
}

.footer__social-icon {
  width: 16px;
  height: 16px;
  padding-right: 10px;
  /*задаю размеры иконок и внутренний отступ справа*/
}

.footer__column-link {
  display: flex;
  align-items: center;
  /*Делаю элементы флексами и выравниваю их по центру относилтено вертикальнйо оси*/
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
  /*Задаю интерлиньяж, размер и начертание текста, cбрасываю стили для ссылок*/
  color: #f2f2f2;
  /*Задаю цвет*/
}
